# Welcome to jupyter notebooks!
Congratulations, you have opened a Jupyter Notebook! The hardest step is always the first one.

Learning objectives:
1. Get comfortable with a jupyter notebook IDE
2. Execute code in Google Colab
3. Understand and translate values and data types in Python
4. Use operators, loops, and functions in Python
4. Manipulate datasets in Python

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/LizCarter492/EnvDatSci22/blob/master/CodeSprints/Python101.ipynb)

## What is a Jupyter Notebook?
From www.jupyter.org:
>Jupyter Notebooks are an open document format based on JSON. They contain a complete record of the user's sessions and include code, narrative text, equations, and rich output.

On the top menu, go to "Cell" > "Cell Type"

The first two options, Code, and Markdown, are our primary interests in this class.

**Code cells (below)** allow you to run and execute Python code. Python commands will bring data from storage or the internet into RAM, allow you to manipulate the data, and allow you to print outputs, results, or figures directly to the screen of this notebook

**Markdown cells (like this one)** allow you to write and format text descriptions, link to websites, upload and display videos and images, you name it. To learn more about Markdown formatting:
1. Double click on this text. This opens the Markdown cell, allowing you to edit it.
2. [Click on this link to learn about how to format text in markdown.](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)

## What is a variable?
Your computer computes by taking data stored in files (either on your hard drive or on the internet) and reading them into random access memory (RAM), where the data can interact directly with your computers processors.

In programming languages like R and Python, we know where to find data objects in RAM based on the names we give them. These are called variables.

In the cell below, the variables are the words "name," "age", "address", and "story".

After the equal sign, we assign a certain data value to each of these variable names.

## TASK 1: In the code cell below, change the variable names to make the story reflect who you are.

In [ ]:
name = "Gandolf" #type your name before the pound sign, make sure you put it in quotes!
age = "135" #type your age before the pound sign, make sure you put it in quotes! More on this later.
address = "151F Link Hall" #type your address before the pound sign, make sure you put it in quotes!
story = "My name is " + name + ". I am " + age + " years old. \nI am a data scientist! \nIt's kind of like being a wizard. \nTo see if I can tell you something about your environmental past or future, visit me at " + address + "."
print(story)

## Variable types:
Variables are names in your python environment where you store values. A variable can be a number, a character string, or a more complex data structure (such as a pandas spatial dataframe...more later).

At the most basic level, variables representing single values can either be numbers or strings.

Numeric values can be stored as intergers, floating point numbers, or complex numbers.

Strings represent strings of characters, like writing.

We find out what type of variable we're dealing with by using the type() function.

More info here: https://mindmajix.com/python-variable-types

In [ ]:
from IPython.display import Image
Image("https://cdn.mindmajix.com/blog/images/Screenshot_12-460x385.png")

In [ ]:
print(type(name))
print(type(age))
print(type(address))
print(type(story))

In [ ]:
#We can convert numeric strings to numeric formats using either float() or int()
age = float(age)
print(age)
print(type(age))

In [ ]:
age=int(age)
print(age)
print(type(age))

In [ ]:
#But we cannot input a numeric value into a string:
#Copy and paste this code into the code cell under task 2. Edit it to complete task 2.
story = "My name is " + name + ". I am " + age + " years old. Find me at " + address + "."
print(story)

## Error messages
Just now, I asked you to do something that breaks the rules of how the software functions. This is called an error message.

When you see an error message, **DO NOT PANIC!!** I know they look scary, but error messages are your friend. Error messages are written to give you very specific examples of how to fix your code. Select the text in the error message, copy it, and paste it into a google search. See if the internet can help you fix the issue.

## TASK 2:
Edit the code in the above cell so that it will print your story without adding any additional lines of code.

In [ ]:
#Type story here

## Mathematical operators in python:
Python is a really powerful calculator. We use python commands and functions to process and analyse many different types of data. Below is a summary of common mathematical operators in Python.

**Arithmetic operators in python:** are used for arithmetic.

| Oerator | Definition                                 | Python Command         | Example                |
|-------------|--------------------------------------------|------------------------|------------------------|
| `+`         | Addition                                   | `a + b`                | `5 + 3 = 8`            |
| `-`         | Subtraction                                | `a - b`                | `5 - 3 = 2`            |
| `*`         | Multiplication                             | `a * b`                | `5 * 3 = 15`           |
| `/`         | Division (returns float)                   | `a / b`                | `5 / 3 = 1.666...`      |
| `//`        | Floor Division (returns integer quotient)  | `a // b`               | `5 // 3 = 1`           |
| `%`         | Modulus (remainder of division)            | `a % b`                | `5 % 3 = 2`            |
| `**`        | Exponentiation (power)                     | `a ** b`               | `2 ** 3 = 8`           |



**Relational operators in python:** are used for quantitative value comparisons.

| Operator | Definition                                       | Python Command         | Example                |
|----------|--------------------------------------------------|------------------------|------------------------|
| `==`     | Equal to                                        | `a == b`               | `5 == 5` is `True`     |
| `!=`     | Not equal to                                    | `a != b`               | `5 != 3` is `True`     |
| `>`      | Greater than                                    | `a > b`                | `5 > 3` is `True`      |
| `<`      | Less than                                       | `a < b`                | `5 < 3` is `False`     |
| `>=`     | Greater than or equal to                        | `a >= b`               | `5 >= 3` is `True`     |
| `<=`     | Less than or equal to                           | `a <= b`               | `5 <= 3` is `False`    |



**Bitwise operators in python:** are used for binary value comparisons.

| Operator | Definition                                          | Python Command         | Example                |
|----------|-----------------------------------------------------|------------------------|------------------------|
| `&`      | Bitwise AND (performs AND operation on bits)        | `a & b`                | `5 & 3` is `1`         |
| `\|`      | Bitwise OR (performs OR operation on bits)          | `a \| b`                | `5 \| 3` is `7`         |
| `^`      | Bitwise XOR (performs XOR operation on bits)        | `a ^ b`                | `5 ^ 3` is `6`         |
| `~`      | Bitwise NOT (inverts bits)                          | `~a`                   | `~5` is `-6`           |
| `<<`     | Bitwise left shift (shifts bits to the left)        | `a << b`               | `5 << 1` is `10`       |
| `>>`     | Bitwise right shift (shifts bits to the right)      | `a >> b`               | `5 >> 1` is `2`        |


**Assignment operators in python:** are used to assign values to variables.

| Operator | Definition                                          | Python Command         | Example                |
|----------|-----------------------------------------------------|------------------------|------------------------|
| `=`      | Assignment operator (assigns a value to a variable) | `a = b`                | `x = 5` assigns `5` to `x` |
| `+=`     | Add and assign (adds right operand to left operand) | `a += b`               | `x += 3` is `x = x + 3` |
| `-=`     | Subtract and assign (subtracts right operand from left operand) | `a -= b`  | `x -= 2` is `x = x - 2` |
| `*=`     | Multiply and assign (multiplies right operand with left operand) | `a *= b` | `x *= 4` is `x = x * 4` |
| `/=`     | Divide and assign (divides left operand by right operand) | `a /= b` | `x /= 2` is `x = x / 2` |
| `//=`    | Floor divide and assign (performs floor division)  | `a //= b`              | `x //= 2` is `x = x // 2` |
| `%=`     | Modulus and assign (assigns the remainder of division) | `a %= b`  | `x %= 3` is `x = x % 3` |
| `**=`    | Exponentiation and assign (raises left operand to the power of right operand) | `a **= b` | `x **= 2` is `x = x ** 2` |
| `&=`     | Bitwise AND and assign                             | `a &= b`               | `x &= 1` is `x = x & 1` |
| `\|=`    | Bitwise OR and assign                              | `a \|= b`              | `x \|= 2` is `x = x \| 2` |
| `^=`     | Bitwise XOR and assign                             | `a ^= b`               | `x ^= 1` is `x = x ^ 1` |
| `<<=`    | Bitwise left shift and assign                      | `a <<= b`              | `x <<= 1` is `x = x << 1` |
| `>>=`    | Bitwise right shift and assign                     | `a >>= b`              | `x >>= 1` is `x = x >> 1` |

We can apply mathematical operators to variables by writing equations, just like we do with a calculator.

## TASK 3:
Using your "age" variable. how old will you be in five years (call this variable "a")? How many months have you been alive (we're going to estimate this, based on the fact that there are 12 months in a year, call this variable "b")? Are you older than 100 (call this variable "c")?

In [ ]:
#first, convert "age" back to a numeric (float) variable
age =

#Complete your equations in python syntax below. Remember to use "age" as a variable.
a =
b =
c =
print(a,b,c)

## Functions
Functions are another type of variable. Instead of storing a data value, they store a set of instructions on how to process the data. Often in life, we want to repeat the same sequence of operations on multiple values. To do this, we use functions. Functions are blocks of code that will repeat the same task over and over again (return some outputs) on different variables (inputs). [Learn more about functions here](https://docs.python.org/3/tutorial/controlflow.html#defining-functions)

In [ ]:
#For example, this function takes one input value, X:
def fun1 (x):

#The functions job is to produce the square of x
    return x*x # note the indentation

fun1(2)
# what happens if you delete the indentation?

In [ ]:
#Functions can have more than one input:
def fun2 (x, y):
    return x * y

fun2(2,3) #experiment with different values

In [ ]:
#And we often store what the function returns as a new variable
#Here, we're creating two variables: x and x_sq
x = 10
x_sq = fun1(x)

print(x)
print(x_sq)

## Create a function.

Functions simplify our workflows as computational scientists, and make it possible for other people to see every step we've make with a computation.

## TASK 4:

To simplify your future restaurant interactions, write a function that calculates a 15% tip and adds it to any check amount. Name your function tip15. How much will you owe in total on a $42.75 check?

In [ ]:
#write tip15 function here

## TASK 5:

To customize your future restaurant interactions to future exemplary service, write a function that calculates a variable tip and adds it to any check amount. Name your function tip. How much will you owe in total if you're tipping 25% on a $42.75 check?

In [ ]:
#write tip function here

## Lists
Python and R both make it possible to create your own data objects for storing lots of different values.

One of the simplest ways to create a variable containing multiple values is to create a list.

[Click here to learn more.](https://www.earthdatascience.org/courses/intro-to-earth-data-science/python-code-fundamentals/)

Using base python, you can store multiple variables as a list by wrapping them in square brackets. A list can accept any kind of variable: float, integer, or string:

In [ ]:
names = ["Homer", "Marge", "Bart", "Maggie", "Lisa"]
ages = [40,39,11,1,9]
print(names)
print(ages)
type(names)
type(ages)

We can make lists of lists, which are more complex data objects:

In [ ]:
names_and_ages = [names, ages]
print(names_and_ages)
type(names_and_ages)

## Indexing

In applications like Microsoft Excel, the user can select individual values in one of two ways. First, they can manually scroll to and select a cell in a spread sheet. The second method would be to specific the specific cell using **indexing** terms. In Excel, the column is always given a letter, the row is given a number value. For multi-dimensional arrays in Excel, the third dimension is given a sheet name. For example, to A1 is the first row in the first column of data.

In python and R, indexing is very easy and very powerful, once you get used to it.

To get us started, we can extract individual values from the list using a square bracket. We'd use our python mathematical operator on this single variable the same way we would use a calculator. For example, the age of the first person in the list is:

*Note: in python, the first value in a list/row/column will be zero; in R it will be 1*

In [ ]:
first = ages[0]
print(first)

And we can ask: How old will the first numeric element on our list be in five years?

In [ ]:
ages[0]+5

## TASK 6:
Find the name and age of the third person in your list

In [ ]:
# type answer here

## TASK 7:
Add an extra person to the list, named Grandpa, who is 67 years old. *Hint: Google "add values to a list python" if you're not sure what to do!!!!

In [ ]:
# type answer here

## TASK 8:
Maggie just had a birthday! Change her age accordingly in the list.

In [ ]:
# type answer here

Some data types can store multiple types of values, and some data types can only store one type of values. Lists can store elements that are either character strings or numeric. Because of this, we cannot apply a mathematical operator to a list.

For example, what happens when we try to run the cell below to find out how old will everyone be in five years?

In [ ]:
ages + 5
#this returns an error. But hey! Errors are opportunities! Google your error message, see if you can find a workaround!

# For loops
One way that we can run an entire operation on a list is to use a for loop. A for loop iterates through every element of a sequence, and completes a task or a set of tasks. Example:

In [ ]:
#Measure some strings
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

This for loop creates a new variable, w, for each element in the words list. One at a time, it applies the operation to each element.

[Learn more about for loops here](https://www.earthdatascience.org/courses/earth-analytics/automate-science-workflows/create-for-loops-r/)

A very handy function that folks use a lot when write for loops is the range function. range() creates a range object, which generates list of intergers for each element in a series.

In [ ]:
print(len(ages))
# What does len() do?
print(range(len(ages)))

In [ ]:
for y in range(len(ages)):
    print(ages[y])

## TASK 9:
Use the range function in a for loop to add 1 year to everyone's age in the names_and_ages list and print the result to the screen.

In [ ]:
# type your for loop here

# Be logical!!! if/else statements
Another thing that is commonly used in for loops is an if/else statement. This allows us to select certain attributes that we want to use to treat elements that we're iterating over differently.

In [ ]:
for y in range(len(ages)):
    if ages[y]>=18:
        print(names[y] + " is an adult")
    elif ages[y] >= 10:
        print(names[y]+" is an adolescent")
    else:
        print(names[y] + " is a child")

The above statement reads: if the age of the person is greater than or equal to 18, the person is an adult, or else if the age of the person is greater than or equal to 10, the person is an adolescent,  or else the person is a child.

Pay attention to the use of indentation in the above statement!

## TASK 10:
Using if, elif, and/or else statements, write a for loop that adds 1 year to everyone's life except Maggie...since we already gave her an extra birthday.

In [ ]:
# Write for loop here

# numpy arrays and pandas dataframes

or loops can take a lot of time on large datasets. To deal with this issue, we can rely on two other packages for data structures, called numpy and pandas.

*Packages* are collections of *modules*. *Modules* contain executables, functions, and object types that someone else has already written for you.

Numpy arrays are standard gridded data formats (lists, matrices, and multi-dimensional arrays) where all items are of one data type, and have implicit indexing. [Click here to learn more](https://www.earthdatascience.org/courses/intro-to-earth-data-science/scientific-data-structures-python/numpy-arrays/)


Pandas data frames allow for mixed data types to be stored in different columns, and have explicit indicing. Pandas data frames work just like excel spreadsheets. [Click here to learn more](https://www.earthdatascience.org/courses/intro-to-earth-data-science/scientific-data-structures-python/pandas-dataframes/). Either numpy arrays or pandas data frames allow mathematical operators to be applied to all numeric elements.

We're going to start off by loading the numpy and pandas packages. We're going to short their names to "np" and "pd", just so we don't have to type as many characters. These packages should have been downloaded automatically in Anaconda, but if you can't load them, raise your hand and share you're screen. We'll talk about installing packages and everyone will be all the wiser.

Note: if importing python packages is new to you, please [Click here to learn more](https://www.earthdatascience.org/courses/intro-to-earth-data-science/python-code-fundamentals/use-python-packages/).

In [ ]:
import numpy as np #import the numpy package, and call it np
ages = np.array(ages)
ages + 5
#Wait! Did you get an error? Read it carefull...and if it doesn't make sense, try Googling it.

In [ ]:
import pandas as pd #import the pandas pacakge, and call it pd
names_and_ages = pd.DataFrame({'names':names,'ages':ages})
print(names_and_ages)
type(names_and_ages)
#How does the "type" of variable change?

The cell bellow shows how to add a new column to a pandas data frame called 'ages_5yr', and how to calculate values for the new column:

In [ ]:
names_and_ages['ages_5yr']=names_and_ages.ages + 5
print(names_and_ages)

There are three(?) ways to select a column in a pandas dataframe:

*? = probably many more!

In [ ]:
print(names_and_ages['names']) #index by column name

In [ ]:
print(names_and_ages.names) #call column name as an object attribute

In [ ]:
print(names_and_ages.iloc[:,0]) #use pandas built-in indexing function

The last option, iloc, is a pandas function. The first slot (before the comma) tells us which *rows* to pick. The second slot (after the comma) tells us which *columns* to pick. To pick find the value "ages_5yrs" of the first row, for example, we could use iloc like this:

In [ ]:
print(names_and_ages.iloc[0,2])

## TASK 11:
Create a new column in names_and_ages called "age_months", and populate it with each indiviuals age in months (approximately age in years times 12).

In [ ]:
#Complete task eleven in the space below

## TASK 12:
Create a new column in names_and_ages called "maturity", and populate it with "adult", "adolescent", and "child", based on the age cutoffs mentioned above.

In [ ]:
# Create new column, fill it with empty values (np.NaN)
names_and_ages['maturity']=np.NaN

# Write for loop here

# Read in data.
You will often be using python to process files or data stored locally on your computer or server. Here will learn how to use the package os to set a path to the files you want, called your working directory.

Note that if you're running this notebook in Google Colab, your working directory is a folder on a Google Server somewhere.

In [ ]:
import os #read in the os package, more info here: https://docs.python.org/3/library/os.html

os.listdir()

## Getting a dataset onto Google Drive and accessing your Google Drive via Google Colab.

If you are not currently accessing this file from the EnvDatSci22 class repository, you probably opened it as a link right from Blackboard > Coursework > 3.1 Python 101.

Go back to that Blackboard page. Click on the link called [USGS_04240105_SYRACUSE_NY.csv](https://blackboard.syracuse.edu/bbcswebdav/pid-8320683-dt-content-rid-94758325_1/xid-94758325_1). This will downlad a .csv file to the default download location on your computer.

In another browser tab, sign into your [Google Drive](https://drive.google.com/). Create a new folder called "data". Once inside the folder, upload that csv file you just downloaded.

Run the cell below to mount your Google Drive to Google Colab.

Note: if you have more than one Google account, make sure you're mounting the right Google Drive!

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

os.chdir('/content/drive/MyDrive')

This .csv file is a record of daily discharge from a USGS stream gage near campus for the past year. It contains two columns, "Date" and "Discharge". It was downloaded with some modifications from [https://maps.waterdata.usgs.gov/mapper/index.html]. This is a great source of data for surface water measurements!

Now that you've got the filepath set up so that python can see your stream discharge data, let's open it as a pandas data frame using the pandas.read_csv() function. This is similar to what we would do opening new data in Excel

In [ ]:
#If you are running this from Google Colab outside the GitHub repository, uncoment the line below
stream = pd.read_csv('data/USGS_04240105_SYRACUSE_NY.csv', infer_datetime_format=True)

#If you are running this from a GitHub repository, uncomment the line below.
#stream = pd.read_csv('../data/USGS_04240105_SYRACUSE_NY(1).csv', infer_datetime_format=True)

print(type(stream))


#the "head" function is built into a pandas.DataFrame object, and it allows you to specify the number of rows you want to see
stream.head(5)

##### Here, we see the date (as "%m/%d/%Y" format) and the mean daily discharge in cubic feet/second measured by the streamgage for each day.

# Check documentation on an object
The pandas dataframe is an object that is associated with many attributes and functions. How can we tell what other people have enabled their modules to do, and learn how to use them?

Remember, we just read in our data (USGS_04240105_SYRACUSE_NY.csv") as a 'pandas.core.frame.DataFrame'. What does that mean?

In [ ]:
#We can ask a question:
?stream

In [ ]:
#We can ask a deeper queston:
??stream
#This gives you full documentation

In [ ]:
#Or we can use the 'dot' 'tab' magic.
stream.
#Don't click Enter!!! Click 'Tab'. What happens?

In [ ]:
#We can use 'dot' 'tab' and question marks together!
?stream.min


## TASK 13: use pandas.DataFrame built in functions to determine the minimum, maximum, and mean daily discharge over the record for the station.

In [ ]:
#use pandas.DataFrame functions to assign appropriate values to the variables here.
min_dis =
max_dis =
mean_dis =
print(min_dis, max_dis, mean_dis)

## TASK 14: create a new column called "Discharge_total" where cumulative daily discharge is calculated (hint: there are 24 x 60 x 60 seconds in a day)

In [ ]:
#enter calculations here

## EXTRA CREDIT: Use indexing to determine the DATE on which the maximum daily discharge occured.
(Hint! check out ?stream.iloc and ?stream.argmax, then try Googling "Find row where value of column is maximum in pandas DataFrame" or something similar)

(Still stuck? Enter the last thing you tried in this box, and then post your unsolved code on the Questions and Answers page on blackboard).

In [ ]:
#Type your answer here, see if you can get it in one line of code!

# You're almost done for today! Last steps:
## * save your .ipynb: go to file > Save a copy on Google Drive
## * share the Python101.ipynb with me at ekcarter@g.syr.edu

## If this was brand new to you, please take time to work through Sections 4,6, and 7 in [https://www.earthdatascience.org/courses/intro-to-earth-data-science/]